
{% extends "inc/base.html" %}

{% block conteudo %}
{% block titulo %}
<h1>usuários</h1>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Document</title>
	</head>
	<body>
		<h1>Usuários</h1>
		<h3>
			listagem de usuários
		</h3>
		<table border="1">
			<tr>
				<th>usuário</th>
				<th>admin</th>
				<th>ativo</th>
			</tr>
			{% for usr in usuario %}

				<tr>
					<td>
						<a href="/usuario_ver/{{usr.id}}">{{usr.username}}</a>
					</td>
					<td>{{usr.admin}}</td>
					<td>{{usr.ativo}}</td>
					<td>
						<a href="/usuario_apagar/{{usr.id}}">Apagar</a>
					</td>
				</tr>

			{% else %}
				<tr>
					<td>Nenhum usuário</td>
				</tr>
			{% endfor %}
		</table>
		<button>
			<a href="novo_usuario.php">adicionar novo usuário</a>
		</button>

{% endblock %}
