{% extends "inc/base.html" %}

{% block conteudo %}
	{% block titulo %}
		<h1 class="tracking-wide text-gray-900 text-4xl dark:text-white text-center">USUÁRIOS</h1>
	{% endblock %}

	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<title>Document</title>
		</head>
		<body>
			<h3 class=" text-xl md-4 text-center text-pink-400">
				listagem de usuários
			</h3>
			<table class="mt-3 w-full text-sm text-left text-gray-500 dark:text-gray-400 items-center">
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
						<th scope="col" class="text-lg px-6 py-3 bg-pink-100">usuário</th>
						<th scope="col" class=" text-lg px-6 py-3 bg-pink-100">admin</th>
						<th scope="col" class=" text-lg px-6 py-3 bg-pink-100">ativo</th>
						<th scope="col" class=" text-lg px-6 py-3 bg-pink-100">ação</th>
					</tr>
				</thead>
				<tbody>
					{% for usr in usuario %}
						<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
							<td scope="row" class="text-base px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
								<a href="/usuario_ver/{{usr.id}}">{{usr.username}}</a>
							</td>
							<td class=" text-base px-6 py-4">{{usr.admin}}</td>
							<td class="text-base px-6 py-4">{{usr.ativo}}</td>
							<td class="text-base px-6 py-4">
								<button class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
									<a href="/usuario_apagar/{{usr.id}}">Apagar</a>
								</button>
							</td>
						</tr>
					</tbody>
				{% else %}
					<tr>
						<td>Nenhum usuário</td>
					</tr>
				{% endfor %}
			</table>
			<div class="flex justify-center">
				<button class="mt-4 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
					<a href="novo_usuario.php">adicionar novo usuário</a>
				</button>
			</div>
		{% endblock %}

